src/META-INF/wsdl/rmclient.jelastic.servint.net/mw/mw.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="mw">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://rmclient.jelastic.servint.net:80/mw/mw?xsd=1"/>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"/>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"/>
</message>
<message name="commit">
<part name="parameters" element="tns:commit"/>
</message>
<message name="commitResponse">
<part name="parameters" element="tns:commitResponse"/>
</message>
<message name="newcustomer">
<part name="parameters" element="tns:newcustomer"/>
</message>
<message name="newcustomerResponse">
<part name="parameters" element="tns:newcustomerResponse"/>
</message>
<message name="DeadlockException">
<part name="fault" element="tns:DeadlockException"/>
</message>
<message name="addflight">
<part name="parameters" element="tns:addflight"/>
</message>
<message name="addflightResponse">
<part name="parameters" element="tns:addflightResponse"/>
</message>
<message name="newcustomerid">
<part name="parameters" element="tns:newcustomerid"/>
</message>
<message name="newcustomeridResponse">
<part name="parameters" element="tns:newcustomeridResponse"/>
</message>
<message name="abort">
<part name="parameters" element="tns:abort"/>
</message>
<message name="abortResponse">
<part name="parameters" element="tns:abortResponse"/>
</message>
<portType name="mw">
<operation name="start">
<input wsam:Action="http://service/mw/startRequest" message="tns:start"/>
<output wsam:Action="http://service/mw/startResponse" message="tns:startResponse"/>
</operation>
<operation name="commit">
<input wsam:Action="http://service/mw/commitRequest" message="tns:commit"/>
<output wsam:Action="http://service/mw/commitResponse" message="tns:commitResponse"/>
</operation>
<operation name="newcustomer">
<input wsam:Action="http://service/mw/newcustomerRequest" message="tns:newcustomer"/>
<output wsam:Action="http://service/mw/newcustomerResponse" message="tns:newcustomerResponse"/>
<fault message="tns:DeadlockException" name="DeadlockException" wsam:Action="http://service/mw/newcustomer/Fault/DeadlockException"/>
</operation>
<operation name="addflight">
<input wsam:Action="http://service/mw/addflightRequest" message="tns:addflight"/>
<output wsam:Action="http://service/mw/addflightResponse" message="tns:addflightResponse"/>
</operation>
<operation name="newcustomerid">
<input wsam:Action="http://service/mw/newcustomeridRequest" message="tns:newcustomerid"/>
<output wsam:Action="http://service/mw/newcustomeridResponse" message="tns:newcustomeridResponse"/>
<fault message="tns:DeadlockException" name="DeadlockException" wsam:Action="http://service/mw/newcustomerid/Fault/DeadlockException"/>
</operation>
<operation name="abort">
<input wsam:Action="http://service/mw/abortRequest" message="tns:abort"/>
<output wsam:Action="http://service/mw/abortResponse" message="tns:abortResponse"/>
</operation>
</portType>
<binding name="mwPortBinding" type="tns:mw">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="start">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="commit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newcustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeadlockException">
<soap:fault name="DeadlockException" use="literal"/>
</fault>
</operation>
<operation name="addflight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newcustomerid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeadlockException">
<soap:fault name="DeadlockException" use="literal"/>
</fault>
</operation>
<operation name="abort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="mw">
<port name="mwPort" binding="tns:mwPortBinding">
<soap:address location="http://rmclient.jelastic.servint.net:80/mw/mw"/>
</port>
</service>
</definitions>