web/WEB-INF/wsdl/rmcar.jelastic.servint.net/rm/rmcar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="rmcar">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://rmcar.jelastic.servint.net:80/rm/rmcar?xsd=1"/>
</xsd:schema>
</types>
<message name="commit">
<part name="parameters" element="tns:commit"/>
</message>
<message name="commitResponse">
<part name="parameters" element="tns:commitResponse"/>
</message>
<message name="abort">
<part name="parameters" element="tns:abort"/>
</message>
<message name="abortResponse">
<part name="parameters" element="tns:abortResponse"/>
</message>
<message name="addflight">
<part name="parameters" element="tns:addflight"/>
</message>
<message name="addflightResponse">
<part name="parameters" element="tns:addflightResponse"/>
</message>
<message name="DeadlockException">
<part name="fault" element="tns:DeadlockException"/>
</message>
<portType name="rmcar">
<operation name="commit">
<input wsam:Action="http://service/rmcar/commitRequest" message="tns:commit"/>
<output wsam:Action="http://service/rmcar/commitResponse" message="tns:commitResponse"/>
</operation>
<operation name="abort">
<input wsam:Action="http://service/rmcar/abortRequest" message="tns:abort"/>
<output wsam:Action="http://service/rmcar/abortResponse" message="tns:abortResponse"/>
</operation>
<operation name="addflight">
<input wsam:Action="http://service/rmcar/addflightRequest" message="tns:addflight"/>
<output wsam:Action="http://service/rmcar/addflightResponse" message="tns:addflightResponse"/>
<fault message="tns:DeadlockException" name="DeadlockException" wsam:Action="http://service/rmcar/addflight/Fault/DeadlockException"/>
</operation>
</portType>
<binding name="rmcarPortBinding" type="tns:rmcar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="commit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="abort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addflight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeadlockException">
<soap:fault name="DeadlockException" use="literal"/>
</fault>
</operation>
</binding>
<service name="rmcar">
<port name="rmcarPort" binding="tns:rmcarPortBinding">
<soap:address location="http://rmcar.jelastic.servint.net:80/rm/rmcar"/>
</port>
</service>
</definitions>