web/WEB-INF/wsdl/rmclient.jelastic.servint.net_80/rm/rmcar.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="DeadlockException" type="tns:DeadlockException"/>

<xs:element name="abort" type="tns:abort"/>

<xs:element name="abortResponse" type="tns:abortResponse"/>

<xs:element name="addflight" type="tns:addflight"/>

<xs:element name="addflightResponse" type="tns:addflightResponse"/>

<xs:element name="commit" type="tns:commit"/>

<xs:element name="commitResponse" type="tns:commitResponse"/>

<xs:complexType name="abort">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="rm" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="abortResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addflight">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="num" type="xs:int"/>
<xs:element name="seats" type="xs:int"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addflightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeadlockException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commit">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="rm" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commitResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>